.header__search{
  display: flex;
  flex:1;
}

.header__searchInput{
  height:12px;
  padding: 14px;
  border: none;
  width: 100%;
}

.header__searchIcon{
  background-color: #61ff4e;
  padding: 5px;
  height:28px !important;
}

.brand{
  color:#61ff4e;
}
*{
  text-decoration: none;
}